__pycache__/
*.py[cod]
.env
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
outputs/
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/test/
data/processed/
*.tif
*.tiff
*.pt
*.bin
*.safetensors
.venv/